{% extends '::base.html.twig' %}

{% block title %}{{ 'index.title'|trans }}{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/levi9calendar/css/main.css') }}" rel="stylesheet" />
{% endblock %}

{% block body %}
    <h1>{{ 'index.greetings'|trans }}</h1>
    <p>{{ 'index.intro'|trans }}</p>

    <table>
        <thead>
            <tr>
                <th>{{ 'index.table.two_week'|trans }}</th>
                <th>{{ 'index.table.one_week'|trans }}</th>
                <th>{{ 'index.table.today'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            <tr class="wrapper">
                <td class="2week">
                    <table>
                        {% for exercise in data['2_week'] %}
                            <tr>
                                <td>{{ exercise.description }}</td>
                                <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td class="1week">
                    <table>
                        {% for exercise in data['1_week'] %}
                            <tr>
                                <td>{{ exercise.description }}</td>
                                <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
                <td class="today">
                    <table>
                        {% for exercise in data['today'] %}
                            <tr>
                                <td>{{ exercise.description }}</td>
                                <td>{{ exercise.weight }} x {{ exercise.count }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock %}

